{% extends "base.html" %}
{% block title %}Voucher & Ưu đãi | GUAMAISON{% endblock %}
{% block extra_head %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&family=Cormorant+Garamond:ital,wght@0,500;0,600;1,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vouchers.css') }}?v=GUAMAISON-promotion-v17-1">
{% endblock %}
{% block content %}
<main class="gv-page" data-voucher-page>
  {% include "components/vouchers/_hero.html" %}
  {% include "components/vouchers/_toolbar.html" %}
  <div class="gv-shell gv-main">
    {% include "components/vouchers/_ritual.html" %}
    {% include "components/vouchers/_list.html" %}
  </div>
  {% include "components/vouchers/_snackbar.html" %}
</main>
{% endblock %}
{% block extra_scripts %}<script src="{{ url_for('static', filename='js/vouchers.js') }}?v=GUAMAISON-promotion-v17" defer></script>{% endblock %}
